<!--
File: template-v1.html
Project: curso-de-vue-js-completo-cod3r
File Created: Wednesday, 19 August 2020 18:58:55
Author: Marcos Antônio Barbosa de Souza (marcantech@uol.com.br)
-----
Last Modified: Wednesday, 19 August 2020 18:58:55
Modified By: Marcos Antônio Barbosa de Souza (marcantech@uol.com.br>)
-----
Copyright 2019 - 2020 All rights reserved, Marcant Tecnologia
-->

<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ titulo }}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Usando VueJS!'
        }
    })
</script>